<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
{% if twitter %}
<meta name="twitter:creator" content="@{{ twitter }}">
{% endif %}

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" href="/images/android-chrome-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">

<link type="text/css" href="/stylesheet/main.css" rel="stylesheet">

<title>{{ title }}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{- google_ana -}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{- google_ana -}}');
</script>
