{% extends "layout.html" %}

{% block header %}
<h1>{{ title }}</h1>
{% include "component/nav.html" %}
{% endblock %}

{% set blinks_o = blinks %}

{% block main %}
<div id="container">
    {% set blinkss = blinks_o|archives_filter(apath) %}
    {% for year, blinks in blinkss %}
        <h2>{{ year }}</h2>
        {% include "component/writing.html" %}
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<div>
    <p class="copyright">
        {{ copyright }}
    </p>
</div>
{% endblock %}
