{% extends "layout.html" %}

{% block hother %}
<div id="head_other">
    <div id="menu-icon" onclick="toggle_sf('#toc')">
        <i class="fas fa-bars fa-lg"></i>
    </div>
    <div id="toc" class="float">
        {% include "component/toc.html" %}
    </div>
    <div id="show_info">
        {% if prev %}
        {% set prevb =  prev.split('/')[-1] %}
        <span id="i-prev" class="hidden">{{ prevb }}</span>
        {% endif %}
        {% if next %}
        {% set nextb = next.split('/')[-1] %}
        <span id="i-next" class="hidden">{{ nextb }}</span>
        {% endif %}
        <span id="i-top" class="hidden">back to top</span>
    </div>
</div>
{% endblock %}


{% block header %}
<h1>{{ title }}</h1>
<div id="blog_meta">
    <div class="author"><i class="fas fa-pencil-alt"></i><p>{{ author }}</p></div>
    <div class="blog_link_time">
        <i class="far fa-calendar-alt"></i>
        <p>
            <time datetime="{{ date }}"></time>
        </p>
    </div>
    {% for blink in blinks %}
        {% if blink.title == title %}
        {% include "component/tag.html" %}
        {% endif %}
    {% endfor %}
    {% set wc = wordcount | float %}
    <div><p>There are {{ wordcount }} words that may take {{ (wc/270)|round(1) }} mins to read.</p></div>
</div>
{% endblock %}


{% block main %}
    {{ content }}
    <div>
        <div id="gitalk-container">

        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="footer-left">
    <p class="copyright">
        {{ copyright }} | Total {{ wordcount }} Words.
    </p>
</div>
<div class="footer-right">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block libs %}
    {{ super() }}
    <script>gitalk.render('gitalk-container')</script>
{% endblock%}
