<!DOCTYPE html>
<html>

    <head>
        {% include "component/head.html" %}
    </head>

    <body>
        {% block hother %}
        {% endblock %}
        <header id="header" class="body-item">
            {% block header %}
            {% endblock %}
        </header>

        <main id="main" class="body-item">
            {% block main %}
            {% endblock %}

        </main>

        <footer id="footer" class="body-item">
            {% block footer %}
            {% endblock %}
        </footer>

        {% block fother %}
            {% include "component/up2top.html" %}
            <script defer src="/lib/javascript/page_u2t.js"></script>
        {% endblock %}

        {% block libs %}
            {% include "component/libs.html" %}
        {% endblock %}
    </body>

</html>
