<ul id="head_links" class="head_flex">
    <li>
        <a href="/">Home</a>
    </li>
</ul>
<ul id="head_ptn" class="head_flex">
    {% if prev %}
    <li>
        <a class="prev_blog icon" href="{{ prev }}">
            <i class="icon-prev fa fa-chevron-left" onmouseover="$('#i-prev').show();" onmouseout="$('#i-prev').fadeOut();">
            </i>
        </a>
    </li>
    {% endif %}
    <li>
        <a class="icon back2top" onclick="$('html, body').animate({ scrollTop: 0 }, 1200);">
            <i class="icon-top fa fa-chevron-up" onmouseover="$('#i-top').show();" onmouseout="$('#i-top').fadeOut();">
            </i>
        </a>
    </li>
    {% if next %}
    <li>
        <a class="next_blog icon" href="{{ next }}">
            <i class="icon-next fa fa-chevron-right" onmouseover="$('#i-next').show();" onmouseout="$('#i-next').fadeOut();">
            </i>
        </a>
    </li>
    {% endif %}
</ul>
{{ content_table }}
